@model AspNetMvc.Models.SuperHeroes.SuperHeroCreate

<form asp-controller="SuperHero" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" name="age" asp-for="Age">
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Powers</label>
        <input type="text" class="form-control" id="powers" name="powers" asp-for="Powers">
        <span asp-validation-for="Powers" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>